<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring Framework Guru</title>
</head>
<body>
  <h1>Author List</h1>
  <table>
    <thead>
      <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="author: ${authors}">
        <th th:text="${author.id}">123</th>
        <th th:text="${author.firstName}">Rod</th>
        <th th:text="${author.lastName}">Johnson</th>
      </tr>
    </tbody>
  </table>
</body>
</html>
