<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring Framework Guru</title>
</head>
<body>
  <h1>Book List</h1>
  <table>
    <thead>
      <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Publisher</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="book: ${books}">
        <th th:text="${book.id}">123</th>
        <th th:text="${book.title}">Spring in Action</th>
        <th th:text="${book.publisher.publisherName}">Wrox</th>
      </tr>
    </tbody>
  </table>
</body>
</html>
